*{box-sizing: border-box;}
body { margin:0;}
img {width: 100%;}
a { text-decoration: none;}


header{
    display: flex;
    height: 200px;
    width: 100vw;
}

.pattern{
    flex: 80%;
    background-image: url('images/asanoha_pattern-01.png');
}


.trans{
    text-transform:uppercase;
}

.home-link {flex:25%;
}