*{box-sizing: border-box;}
body { margin:0;}
img {width: 100%;}
a { text-decoration: none;}

body{
  margin: 0;
  background-color: linen;
}
header {
  display: flex;
  height: 250px;
  width: 100vw;
}
p{
  font-family: bely, serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 44px;
}
h1{
  color: #1C4DAB;
  font-family: belda-normal,serif;
  font-style: italic;  
  font-size: 110px; 
  font-weight: 200;
  margin-bottom:-5%;
  margin-top: -2%;
}
a:link{
  color: #1C4DAB;
}
a:visited{
  color: #1C4DAB;
}
nav ul {
  color: #1C4DAB;  
  font-family: belda-normal, serif;
  font-style: italic;
  font-size: 44px;
  font-weight:400;
  padding-left:0;
  list-style-type: none;
}
nav li { line-height: 59px;}

/*classes below*/
.title{
  margin-top: -20%;
  margin-bottom: 2%;
  margin-left: -25%;
  font-variant-caps: small-caps;
  font-weight: 500;
}
.subhead{
  font-size: 48px;
  margin-bottom: -2%;
  font-variant-caps: small-caps;
}
.pattern {
  flex: 75%;
  background-image: url('images/asanoha_pattern-01.png');
  margin-right:25%; 
}
.trans{
    font-variant-caps: small-caps;
}
.two-col{
  display: flex;
  width: 75%;
  margin: auto;
}
.two-col div {flex:1;
}
.left-main{
  padding-left: -20px;
}
.left h1{
  margin-left: -200px;
}
.jacket-img{
  width: 90%;
  margin: auto;
  margin-top: -30%;
  padding-right: 30px;
  padding-left: 30px;
}
.right-span{
  text-align: right;
  padding-right: 60px;
}

